html{
    background-color: #282c34
  }
  
a {
  text-decoration: none;
}

@mixin pokemonTypes {
  &--grass {
    background-color: green;
  }

  &--poison {
    background-color: purple;
  }

  &--fire{
    background-color: red;
  }

  &--water{
    background-color: blue;
  }

  &--normal {
    background-color: grey;
  }

  &--flying {
    background: linear-gradient(blue, grey);
  }
}

.card-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;

    &__card {
      width: 25vw;
      background-color: #ffffffff;
      border: 0.9px solid #ffffffff;
      border-radius: 5px;
      color: #31353f;
      font-size: 16px;
      padding: 10px 0;
      margin: 10px;
      transition: 0.5s;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
        margin-top: -1px;
      }

      &__img {
        width: 100%;
      }

      &__info {
        margin: 0px 10px;
      }

      &__id {
        text-align: left;
        margin: 0;
        color: gray;
        letter-spacing: 0.2em;
        font-size: 0.9em;
      }

      &__name {
        font-size: 1.5em;
        margin: 0;
      }

      &__categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      &__category {
        background-color: teal;
        color: white;
        border-radius: 15px;
        padding: 5px 25px;
        margin: 5% 1%;
        text-align: center;

        @include pokemonTypes;

      }
    }
}

.search-box {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 10px auto 0 auto;

    &__input {
      margin: 0 auto;
      padding: 0.5em;
      font-size: 1.2em;
      width: 100%;
      border-radius: 5px;
    }
}
        
.info {
  background-color: white;
  padding: 0 15px;
    
  &__cabecalho {
    border-bottom: 1px solid silver;
    text-align: center;
    font-size: 1.9em;
    padding: 10px;
  }
    
  &__corpo {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      &__bloco {
        width: 50%;
      }
      
      &__img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 300px;
        display: block;
      }

      &__categoria {
        margin: 10px 0;

        &__tipo {
          background-color: teal;
          color: white;
          border-radius: 15px;
          padding: 7px 15px;
          margin: 5% 1%;
          text-align: center;

          @include pokemonTypes
        }
      }
    }
    
    &__rodape {
      text-align: center;
      font-size: 1.2em;
      padding: 10px;
      border-top: 1px solid silver;
    
      &__link {
        text-decoration: none;
        background-color: lightblue;
        padding: 10px 25px;
        border-radius: 10px;
        color: rgb(39, 39, 39);
    
          &:hover {
            background-color: lightskyblue;
            margin-left: -5px; 
          }
        }
      }
}
    
@media only screen and (max-width: 800px) {
  html {
    background-color: silver;
  }

  .card-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .search-box {
    width: 80%;
    max-width: 100%;
  }
}
    
  


  